
#sidebar::-webkit-scrollbar
  width: 0px

#sidebar:hover::-webkit-scrollbar
  background:  rgba(0,0,0,0.1)
  width:  8px

#sidebar::-webkit-scrollbar-thumb
  background:  rgba(0,0,0,0.2)
  border-radius:  4px


#mainbar::-webkit-scrollbar
  background:  rgba(0,0,0,0.1)
  width:  8px
#mainbar::-webkit-scrollbar-thumb
  background:  rgba(0,0,0,0.2)
  border-radius:  4px


.hide
  display: none

